#listening-device=eth0
listening-port=80
tls-listening-port=443
alt-listening-port=3478
alt-tls-listening-port=5349
#listening-ip=172.17.19.101
#listening-ip=10.207.21.238
#listening-ip=2607:f0d0:1002:51::4
#aux-server=172.17.19.110:33478
#aux-server=[2607:f0d0:1002:51::4]:33478
#udp-self-balance
#relay-device=eth1
#relay-ip=172.31.10.107
#relay-ip=2607:f0d0:1002:51::5
external-ip=52.88.157.249/172.31.10.107
#relay-threads=0
min-port=1025
#max-port=65535
verbose
#Verbose
#fingerprint
#lt-cred-mechch is default.
#no-auth
#use-auth-secret
#static-auth-secret=north
#server-name=blackdow.carleon.gov
#oauth
#userdb=/var/db/turndb
#psql-userdb="host=<host> dbname=<database-name> user=<database-user> password=<database-user-password> connect_timeout=30"
#mysql-userdb="host=<host> dbname=<database-name> user=<database-user> password=<database-user-password> port=<port> connect_timeout=<seconds>"
#mongo-userdb="mongodb://[username:password@]host1[:port1][,host2[:port2],...[,hostN[:portN]]][/[database][?options]]"
#redis-userdb="ip=<ip-address> dbname=<database-number> password=<database-user-password> port=<port> connect_timeout=<seconds>"
#redis-statsdb="ip=<ip-address> dbname=<database-number> password=<database-user-password> port=<port> connect_timeout=<seconds>"
#realm=www.xn--ciocrlan-o2a.ro
#check-origin-consistency
#user-quota=0
#total-quota=0
#max-bps=0
# bps-capacity=0
#no-udp
#no-tcp
#no-tls
#no-dtls
#no-udp-relay
#no-tcp-relay
#stale-nonce
cert=./cert.pem
pkey=./privkey.pem
#pkey-pwd=...
#cipher-list="DEFAULT"
#CA-file=/etc/ssh/id_rsa.cert
#ec-curve-name=prime256v1
#dh566
#dh2066
#dh-file=<DH-PEM-file-name>
#no-stdout-log
#log-file=/var/tmp/turn.log
#syslog
#simple-log
#alternate-server=1.2.3.4:5678
#alternate-server=11.22.33.44:56789
#alternate-server=5.6.7.8
#alternate-server=[2001:db8:85a3:8d3:1319:8a2e:370:7348]:3478
#tls-alternate-server=1.2.3.4:5678
#tls-alternate-server=11.22.33.44:56789
#tls-alternate-server=[2001:db8:85a3:8d3:1319:8a2e:370:7348]:3478
#stun-only
#no-stun
# rest-api-separator=:	
#no-loopback-peers
#no-multicast-peers
max-allocate-timeout=500
#pidfile="/var/run/turnserver.pid"
#secure-stun
mobility
#proc-user=<user-name>
#proc-group=<group-name>
#no-cli
#cli-ip=127.0.0.1
#cli-port=5766
#cli-password=qwerty
#server-relay
#cli-max-output-sessions
#ne=[1|2|3]
#no-tlsv1
#no-tlsv1_1
#no-tlsv1_2
